main{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
img{
    height: 60%;
    width: 80%;
}
.fondo-form{
    width: 100%;
}
.datos_pri{
    width: 60%;
}
.datos_sec{
    width: 40%;
}