.titulo-envios h1 h2 {
    text-align: center;
    color: white;
}

.main-envios-proceso {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    width: 100%;
}

.tarjeta-viaje-proceso {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px; /* Espacio entre las iteraciones */
    gap:5px;
}

.info-basica-envio {
    background: rgba(10, 10, 10, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
    inset 0 4px 8px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.5);    border-radius: 20px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    color:white;
}

.info-botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    font-size: 40px;
    width: 10%;
    color:#370a37;
    transition: background-color 0.3s;
}
.info-botones a{
color:#370a37;
}

.info-botones i:hover{
    color: #ef6292;
}

.toggle-info i {
    transition: transform 0.2s;
}

.toggle-info.active i {
    transform: rotate(180deg);
}

.toggle-info.active {
    background: rgba(10, 10, 10, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
    inset 0 4px 8px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    cursor: pointer;
}

.info-extra-envio {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease;
    color:white;
}

.info-extra-envio.active {
    max-height: 1000px; /* Altura suficientemente grande para mostrar toda la información */
}

.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.icon-button-cancelar {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.icon-button i {
    color: #370a37;
}

.icon-button:hover i {
    color: #ef6292;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.modal-viaje {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 550px;
    width: 100%;
    z-index: 1001; /* Asegúrate de que el modal esté por encima del overlay */
}


.modal-overlay.show {
    visibility: visible;
    opacity: 1;
}
.modal-footer-viaje{
    display: flex;
}
.modal-footer-viaje a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.modal-footer-viaje .btn-secondary {
    background-color: #6c757d;
}

.modal-footer-viaje .btn-secondary:hover {
    background-color: #5a6268;
}

.fondo-form{
    text-align: center;
}