main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo-form {
    align-self: center;
    width: 70%;
    border-radius: 50px;
    align-items: center;
    padding:2%;
}
.formulario{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-content: center;
    padding:3%;
    padding-bottom:4%;
    flex-grow: 1;
}

.columna{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding: 0 1rem; /
box-sizing: border-box;
}

.titulo_registroConductor {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    color:white;
}

#tipoVehiculo option{
    background-color: #36054E;
    color:white;
}
#color option{
    background-color: #36054E;
    color:white;
}
#modelo option{
    background-color: #36054E;
    color:white;
}

.errores{
    width: 80%;
    background: #36054E;
    color: white;
    border-radius: 20px;
    padding: 1%;
    text-align: center;
    margin: 1% auto;
}

.botones{
    display:flex;
    flex-direction:row;
    gap: 6rem;
    justify-content:center;
}
.btn-principal {
    width: 262px;
}

.btn-secundario {
    width: 242px;
}

