
.main_registro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fondo-form {
    align-self: center;
    width: 70%;
    border-radius: 50px;
    align-items: center;
    padding:2%;
}
.formulario{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-content: center;
    padding:3%;
    padding-bottom:4%;
    flex-grow: 1;
}
#tipoUsuario option{
    background-color: #36054E;
     color:white;
}

.columna{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding: 0 1rem; /
    box-sizing: border-box;
}
.imagen_contenedor{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.user_default{
    width:100%;
    height:100%;
}

.titulo_registroConductor {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    color:white;
}


.errores{
    width: 80%;
    background: #36054E;
    color: white;
    border-radius: 20px;
    padding: 1%;
    text-align: center;
    margin: 1% auto;
}

.botones{
    display:flex;
    flex-direction:row;
    gap: 6rem;
    justify-content:center;
}
.btn-principal{
    width: 12em;
}
.btn-secundario{
    width: 12em;

}

.form-control{
    padding: 0 10px;
}

.form-control:focus {
    outline: none;
}

.form-control:disabled {
    background-color: #e9ecef5e;
    opacity: 1;
}


