
.form_viaje {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    height: auto;
}


.pasos_realizar_envio div {
    background-color: #D9D9D9;
    border-radius: 50px;
    padding: 20px;
    justify-content: space-around;
    height: 100%; /* Ajustar con JavaScript */
    display: flex;
    flex-direction: column;
}


.pasos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.icono {
    font-size: 50px;
    text-decoration: none;
}

.icono-actual {
    color: rebeccapurple;
    text-decoration: none;
}

.formularios_envio {
    width: 70%;
    background-color: #D9D9D9;
    border-radius: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.salir {
    justify-content: right;
    color: #36054E;
    font-size: 2em;
    justify-items: right;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.salir:hover{
    color:darkviolet;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 20px;
}

.boton_submit {
    width: 262px;
    height: 67px;
    background: #36054E;
    border-radius: 50px;
    color: white;
}

.boton_submit:hover {
    background: darkviolet;
    border-color: #36054E;
}

.form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    background-color: #D9D9D9;
    height: 30px;
}

.form-control:focus {
    background-color: #BDBDBD;
    border-color: #D9D9D9;
    outline: none;
}

.formulario {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    padding: 0 1rem;
}

.titulo_registroViaje {
    font-size: 25px;
    text-align: center;
}

.foto {
    height: 8em;
    width: auto;
    margin: 0 auto;
    display: block;
}



.errores {
    color: red;
    font-size: 0.9em;
}

.error {
    color: red;
    display: none;
}

.detalles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.detalles div{
    justify-content: center;

}
.detalle-paq, .detalle-via {
    flex: 1; /* Cada elemento ocupa la mitad del espacio disponible */
    padding: 20px; /* Añade espacio interno para separación */
    text-align: center; /* Centra el contenido */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
}

@media (max-width: 768px) {
    .detalle-paq, .detalle-via {
        flex: 100%; /* En pantallas más pequeñas, ocupa el 100% del ancho */
    }
}