main{
    height: 40rem;
}
.main_registro {
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario_fondo {
    width: 40%;
    height: 65%;
    background-color: #D9D9D9;
    border-radius: 50px;
    text-align: center;
    padding:2%;
}
.formulario{
    display: flex;
    justify-content: center;
}

.columna{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 80%;
    height: 17rem;
}
.imagen_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; /* Ajusta este valor según sea necesario */
    width: 80%;
    padding-bottom: 6%;
}
.figure{
    width: 200px;
    height: 200px;
}
.boton_contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; /* Ajusta este valor según sea necesario */
    width: 80%;
}

.titulo_registroConductor {
    font-size: 30px;
    color: white;
    margin: 3%;
}
.form-control{
    border-top: none; /* Elimina el borde superior */
    border-left: none; /* Elimina el borde izquierdo */
    border-right: none; /* Elimina el borde derecho */
    border-bottom: 1px solid black; /* Agrega el borde inferior negro */
    border-radius: 0; /* Elimina cualquier radio de borde */
    background-color: #D9D9D9; /* Hace el fondo transparente para que se vea como una línea */
    padding: 0; /* Elimina el relleno */
    height: 30px; /* Ajusta automáticamente la altura según el contenido */
}

.form-control:focus {
    background-color: #BDBDBD;
    border-color: #D9D9D9;
    outline: none; /* Elimina el resplandor predeterminado al enfocar el campo */
}

.form-control:-webkit-autofill {
    box-shadow: 0 0 0 30px #D9D9D9 inset; /* Cambia el color de fondo del campo */
    -webkit-box-shadow: 0 0 0 30px #D9D9D9 inset; /* Para navegadores basados en WebKit */
}

.botones{
    display:flex;
    flex-direction:row;
    gap: 6rem;
    justify-content:center;
}

.boton_cancelar {
    width: 242px;
    height: 68px;
    background: #FFFFFF;
    border: 3px solid #36054E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    transition: background-color 0.3s;
}
.boton_cancelar:hover {
    background: lightgray;
    color:#FFFFFF;
}


input[type="file"] {
    /* Oculta el texto del archivo seleccionado */
    width: 100%;
    border-radius: 50px;
    border: none; /* Elimina el borde */
    text-align: center; /* Centra horizontalmente el contenido */
    overflow: hidden; /* Oculta cualquier contenido que exceda el tamaño del input */
    padding: 1%; /* Elimina el relleno */
    height: 3em; /* Ajusta automáticamente la altura según el contenido */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    display: flex;
    justify-content: center;
}
input[type="file"]::-webkit-file-upload-button {
    /* Oculta el texto predeterminado del botón */
    position: absolute;
    right:9999px;
    font-size: 0;
    text-align: right;
}

input[type="file"]::before {
    content: 'Seleccionar Imagen';
    font-size: 16px;
    padding: 4% 10%; /* Ajusta el padding para centrar verticalmente el texto y separarlo del borde */
    text-align: center; /* Centra horizontalmente el texto */
    display: block; /* Cambia a bloque para aplicar el padding correctamente */
    margin: auto; /* Centra horizontalmente el contenido */
}




.user_default,
.user_new {
    align-self: center;
    margin:5px;
    max-width: 50%; /* La imagen nunca superará el ancho de su contenedor */
    max-height: 50%; /* La altura se ajustará automáticamente para mantener la proporción */
}

.contenedor_botones{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:3em;
}
.btn-secundario{
    width: 60px;
    height: 50px;
    border-radius: 50px;
    padding: 0;

}
.fondo-form{
    color:white;
    text-align: center;
}
