.homeCliente_main{
    display:flex;
    flex-direction: column;
    gap:2em;
    align-items: center;
}

.crearEnvio{
    text-align: center;
    background-color: white;
    height: 50%;
    width: 40%;
    border-radius: 50px;
    padding: 1%;
    font-size: 40px;
    display:flex;
    flex-direction: row;
    gap:2%;
    justify-content: center;
    color:#370a37;
    border: 1px solid white;
    transition: background-color 0.3s;
}
.crearEnvio p{
    align-self: center;
    font-size: 30px;
    margin: 0;
}

.crearEnvio i{
    align-self: center;
}

a{
    text-decoration: none;
    color:dimgray;
    transition: background-color 0.3s;
}
a:hover{
    color:whitesmoke;

}
.crearEnvio:hover{
    color:white;
    background-color:transparent;
    border: 1px solid white;
}

.acordeon {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 50px;
    padding: 3%;
    gap: 30px;
    background: rgba(10, 10, 10, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
    inset 0 4px 8px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}

.pregunta_acordeon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    border-radius:25px 25px  0 0 ;
    padding: 0.5em;
    transition: background-color 0.3s;
}

.pregunta_acordeon:hover{
    background: rgba(10, 10, 10, 0.2);

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius:25px;
}

.respuesta_acordeon {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    border-radius: 25px 25px 0 0;
    padding: 0;
}

.respuesta_acordeon p {
    margin: 0;
    padding: 1%;
}

.item_acordeon.active .respuesta_acordeon {
    max-height: 200px;
    border-radius: 0 0 25px 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top-color: transparent;
    transition: background-color 0.3s;
}

.item_acordeon.active .pregunta_acordeon:hover{
    max-height: 200px;
    background-color: transparent;
    border-radius: 25px 25px 0 0;
    padding: 0.5em;
}

.item_acordeon.active .pregunta_acordeon i {
    transform: rotate(180deg);
    transition: transform 0.5s ease-out;
}

.item_acordeon.active .pregunta_acordeon {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom-color: transparent;
    border-radius: 25px 25px 0 0;
    transition: background-color 0.3s;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

.modal-viaje {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 550px;
    width: 100%;
    z-index: 1001; /* Asegúrate de que el modal esté por encima del overlay */
}


.modal-overlay.show {
    visibility: visible;
    opacity: 1;
}

.modal-footer-viaje a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.modal-footer-viaje .btn-secondary {
    background-color: #6c757d;
}

.modal-footer-viaje .btn-secondary:hover {
    background-color: #5a6268;
}

.fondo-form{
    width: 30%;
    text-align: center;
}