
@font-face {
    font-family: 'Codec Pro';
    src: url('CodecPro-Bold.ttf') format('truetype');
}
body {
    font-family: "Codec Pro",sans-serif;
    background-image: url('imagenes/fondo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Cubre todo el tamaño del cuerpo */
    background-position: center; /* Posición centrada de la imagen */

}
#letrasHome{
    margin-top: 150px;
}

.titulo_registroConductor {
    font-family: "Codec Pro", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    background-color: #36054E;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.btn_registro {
    display: inline-block;
    width: 262px;
    height: 67px;
    background: #36054E;
    border-radius: 50px;
    color: white;
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    font-family: "Codec Pro", serif;
    font-weight: 500;
    font-size: 20px;
}

.btn_registro:hover {
    background: darkviolet;
    text-decoration: none;
    color:white;
    border-color: #36054E;
}

.noVehiculo{
    display:flex;
    flex-direction: column;
    align-items: center;
}




