.background-gradient {
    background-image: linear-gradient(to right, #b45fff, #ac5fff); /* Gradiente lineal de izquierda a derecha */
}

.card {
    margin-bottom: 2rem;
}

.btn-secondary {
    width: 100%;
}

