.homeCliente_main{
    display:flex;
    flex-direction: column;
    gap:2em;
    align-items: center;
}
.form-control{
    padding:0;
    height: 300px;
}
.btn-principal{
    width: 14em;
}

.fondo-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
}
.tam-card-filtro {
    width: 45%;
    display: flex;
    justify-content: center; /* Alinea horizontalmente al centro */
    align-items: center; /* Alinea verticalmente al centro */
    margin-bottom: 1rem; /* Ajusta según tu diseño */
}
.tam-no-veh{
    width: 60%;
}
.container-home-conductor{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.label-filtro{
    margin-bottom: 4%;
}
.cont-img-auto{
    width: 50%;
}
.img-no-auto{
    height: 100%;
    width: 100%;
}
.isPenalizado{
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    background-color: black;
    border-radius: 30px;
    padding: 2%;
}

.pagarMulta{
    align-content: center;
    text-align: center;
}
.pagarMulta p{
    align-content: center;
    text-align: center;
}
.imgPenalizado{
    height: 200px;
    width: auto;
    margin: 0 auto;
    display: block;
}

.info-viaje{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4em;
}
.cont-direcciones{
    width: 50%;
}
.cont-precio{
    width: 50%;
}


.formFiltro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#filtrado{
    background-color: white;
}

.label-filtro {
    color:purple;
}



