@font-face {
    font-family: 'Codec Pro';
    src: url('CodecPro-Bold.ttf') format('truetype');
}

.main_login {
    display: flex;
    align-items: center; /* Alinea verticalmente el contenido */
    justify-content: center; /* Alinea horizontalmente el contenido */
    font-family: "Codec Pro",sans-serif;
}
/*.custom-form {*/
/*    background-color: white; !* Establecer el fondo del formulario como blanco *!*/
/*    padding: 20px; !* Añadir un poco de espacio alrededor del formulario *!*/
/*    border-radius: 10px; !* Añadir bordes redondeados al formulario *!*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); !* Añadir una ligera sombra al formulario *!*/
/*    margin-top: 5%;*/
/*}*/

.titulo_loginConductor {
    font-family: "Codec Pro", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.formulario_fondo_login{
    align-self: center;
    width: 35%;
    background-color: #D9D9D9;
    border-radius: 50px;
    align-items: center;
    padding:2%;
}

.boton_Redireccion{
    width: 262px;
    height: 68px;
    background: #FFFFFF;
    border: 3px solid #36054E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.boton_Redireccion:hover {
    background: lightgray;
    color:#FFFFFF;
}

.sub_columna{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.sub_columna div{
    padding:2%;
}

.card-text.option {
    cursor: pointer; /* Cambia el cursor a una mano */
    padding: 10px; /* Espaciado interno para una mejor apariencia */
    transition: background-color 0.3s; /* Transición suave para el cambio de color */
    border-radius: 15px;
}

/* Estilos para cuando el mouse pasa sobre las opciones */
.card-text.option:hover {
    background-color: darkgray; /* Cambia el color de fondo al pasar el mouse */
    color:black;
    border-radius: 15px;
}

.boton_borrar_cuenta{
    width: 10em;
    height: 3em;
    background: #36054E;
    border-radius: 50px;
    color:white;
}

.boton_borrar_cuenta:hover {
    background: darkviolet;
    border-color:#36054E;
}

.rounded-circle:hover {
    background-color: #b0b0b0; /* Cambia el color de fondo a un tono más claro */
}

