body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}


.navbar-brand {
    margin-right: 50%; /* Espacio entre el icono y los enlaces */
}
.navbar-nav {
    margin-right: auto; /* Empuja los enlaces hacia la izquierda */
}
.navbar-nav .nav-link {
    margin-right: 20%; /* Espacio entre los enlaces */
}
.navbar-nav .btn-ingresar {
    margin-left: 20%; /* Espacio entre los enlaces y el botón */
}