@font-face {
    font-family: 'Codec Pro';
    src: url('CodecPro-Bold.ttf') format('truetype');
}

body {
    background-image: url('imagenes/fondo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Cubre todo el tamaño del cuerpo */
    background-position: center; /* Posición centrada de la imagen */
    font-family: "Codec Pro",sans-serif;
}
.btn-custom {
    color: #370a37; /* Texto violeta */
    background-color: white; /* Fondo blanco */
    border-color: white; /* Borde violeta */
    border-radius: 50px;
    padding: 5px 30px 5px 30px ;
}

.btn-custom:hover {
    color: white; /* Cambiar el color del texto a blanco al pasar el ratón */
    background-color: #870c8a; /* Cambiar el fondo a violeta al pasar el ratón */
}

.imagen-viaje{
    background-image: url('imagenes/obelisco.jpg');
    height: 500px;
    width: 1000px;
}