.boton-aceptar:hover {
    background-color: #eee;
}

.boton-volver:hover {
    background-color: #eee;
}

.boton-aceptar {
    background-color: forestgreen;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.boton-volver {
    background-color: #ed9000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.contenedor-botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 35px;
}

.titulo-solicitud{
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
    margin-top: 40px;
    color: white;
}

.contenedor-viaje{
    background-color: lightgrey;
}

.titulo-viajes{
    color: white;
}

.contenedor-datos-viajes-aceptados{
    font-size: 18px;
    background-color: lightgrey;
}

.contenedor-boton-cancelar{
    text-align: center;
}

.imagen-viaje{
    background-image: url("imagenes/obelisco.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    text-align: center;
    margin: 40px 0;
}

.contenedor-datos-viaje {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
    gap: 20px;
    font-size: 20px;
    border-radius: 10px;
}

.contenedor-datos-viaje > div {
    flex: 1;
    max-width: 45%;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.boton-verde, .boton-rojo {
    background-color: #008cba;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    margin: 0 10px;
}

.boton-rojo {
    background-color: #dc3545;
}

.terminado, .cancelado {
    background-color: #008cba;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    margin: 0 10px;
}

.cancelado {
    background-color: #dc3545;
}

p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    margin: 5px 0;
    text-align: left;
}

.titulo-solicitud {
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 20px;
    color: white;
    text-align: center;
}

.card {
    border-radius: 30px;
    padding: 2%;
    background-color: lightgrey;
}

.contenedor-viaje {
    margin: 15px 0;
}

.boton-rojo:hover, .boton-verde:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
    color: black;
    background-color: coral;
}

.boton-verde:hover {
    background-color: aqua;
}

.viajes-proceso-img {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 2%;
}

.imagen-viaje-proceso {
    flex: 1;
    max-width: 50%;
    background-image: url("imagenes/obelisco.jpg");
    background-position: center;
    background-size: cover;
}

.contenedor-imagen-viaje-proceso {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
    gap: 20px;
    font-size: 20px;
    border-radius: 10px;
}

#map{
    height: 500px;
    width: 100%;
}

.contenedor-filtro {
    width: 300px;
    margin: 20px 0 20px auto;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.label-filtro {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.select-filtro {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.boton-filtro {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.boton-filtro:hover {
    background-color: #0056b3;
}

.option-filtro{
    font-size: 20px;
}

.isPenalizado{
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    background-color: black;
    border-radius: 30px;
    padding: 2%;
}

.pagarMulta{
    align-content: center;
    text-align: center;
}
.pagarMulta p{
    align-content: center;
    text-align: center;
}
.imgPenalizado{
    height: 200px; /* Ajusta este valor según lo necesario */
    width: auto;   /* Mantener auto para preservar la relación de aspecto */
    margin: 0 auto;
    display: block;
}