.form-control{
    border-top: none; /* Elimina el borde superior */
    border-left: none; /* Elimina el borde izquierdo */
    border-right: none; /* Elimina el borde derecho */
    border-bottom: 1px solid black; /* Agrega el borde inferior negro */
    border-radius: 0; /* Elimina cualquier radio de borde */
    background-color: #D9D9D9; /* Hace el fondo transparente para que se vea como una línea */
    padding: 0; /* Elimina el relleno */
    height: 30px; /* Ajusta automáticamente la altura según el contenido */
}

.form-control:focus {
    background-color: #BDBDBD;
    border-color: #D9D9D9;
    outline: none; /* Elimina el resplandor predeterminado al enfocar el campo */
}

.form-control:-webkit-autofill {
    box-shadow: 0 0 0 30px #D9D9D9 inset; /* Cambia el color de fondo del campo */
    -webkit-box-shadow: 0 0 0 30px #D9D9D9 inset; /* Para navegadores basados en WebKit */
}

.formulario_fondo {
    align-self: center;
    width: 70%;
    background-color: #D9D9D9;
    border-radius: 50px;
    align-items: center;
    padding:2%;
}
.formulario{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-content: center;
    padding:3%;
    padding-bottom:4%;
    flex-grow: 1;
}

.columna{
    display: flex;
    flex-direction: column;
    gap: 3rem; /* Espacio entre las columnas */
    width: 100%; /* Ocupa a el ancho de la columna */
    padding: 0 1rem; /* Agrega un relleno horizontal */
    box-sizing: border-box;
}
.step { display: none; }
.active { display: block; }