<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/ca80211b53.js" crossorigin="anonymous" charset="UTF-8"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <link rel="stylesheet" th:href="@{css/home.css}"/>
    <link rel="stylesheet" th:href="@{css/viaje.css}"/>
    <link rel="stylesheet" th:href="@{css/detalle-envio.css}"/>

    <title>Detalle de envio</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg mx-4">
        <div class="d-flex align-items-center bg-violet"> <!-- Div pegado a la izquierda -->
            <a th:href="home-cliente" class="mx-2">
                <img th:src="@{/imagenes/logo.png}" class="d-block w-100 bg-violet" alt=",,," style="height: 50px;width: 50px">
            </a>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active  p-2">
                    <a th:href="home-cliente" class="nav-link p-2 text-white" href="#">Inicio</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="compania" class="nav-link p-2 text-white" href="#">Compañía</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="ayuda" class="nav-link p-2 text-white" href="#">Ayuda</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="envios-en-proceso" class="nav-link p-2 text-white">Envios en Proceso</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="historial-envios" class="nav-link p-2 text-white" href="#">Historial de Envios</a>
                </li>
            </ul>
            <a th:href="perfil" class="btn mx-2" style="border:none;">
                <div class="container d-flex justify-content-center align-items-center"  th:if="${cliente.getImagenPerfil() != null}" style="border: none">
                    <img alt="img" class="d-block rounded-circle" th:src="'data:image/jpg;charset=utf-8;base64,' + ${cliente.getImageDataBase64()}" style=" width: 40px; height: 40px;"/>
                </div>
                <div th:if="${cliente.getImagenPerfil() == null}">
                    <img th:src="@{/imagenes/user.png}" alt=",,," style="height: 20px;width: 20px">
                </div>
            </a>
            <a th:href="@{cerrar-sesion}">
                <i class="fa-solid fa-arrow-right-from-bracket" style=" border-radius:25px; padding:11px; background-color: white; color: #370a37; transition: color 0.3s;" onmouseover="this.style.color='white';this.style.backgroundColor='transparent';this.style.borderColor='white';this.style.border='1px solid white'" onmouseout="this.style.color='#370a37'; this.style.backgroundColor='white'" ></i>
            </a>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <h1 class="text-center titulo-solicitud">Detalle del Envío</h1>
    <section id="map">
        <div></div>
    </section>
    <section>
        <div class="fondo-form">
            <div class="card-body contenedor-datos-viaje flex">
                <div class="datos_pri">
                    <p >Direccion de Salida: <span th:text="${viaje.getDomicilioDeSalida()}"></span></p>
                    <p >Direccion de Llegada: <span th:text="${viaje.getDomicilioDeLlegada()}"></span></p>
                    <p >Precio: $<span th:text="${viaje.getPrecio()}"></span> ARS</p>
                </div>
                <div class="datos_sec">
                    <div id="datosMapDetalleEnvios" th:data-latitud-salida="${viaje.latitudDeSalida}" th:data-longitud-salida="${viaje.longitudDeSalida}" th:data-latitud-llegada="${viaje.latitudDeLlegada}" th:data-longitud-llegada="${viaje.longitudDeLlegada}"></div>
                </div>
            </div>
            <div>
            <div class="contenedor-botones" style="margin-top: 4%">
                <div>
                <div class="contenedor-boton-cancelar" th:with="TERMINADO=${T(com.tallerwebi.dominio.enums.TipoEstado).TERMINADO}">
                    <div th:if="${viaje.getEstado() == TERMINADO}">
                        <p>Viaje Terminado</p>
                    </div>
                </div>
                <div class="contenedor-boton-cancelar" th:with="CANCELADO=${T(com.tallerwebi.dominio.enums.TipoEstado).CANCELADO}">
                    <div th:if="${viaje.getEstado() == CANCELADO}">
                    <p>Viaje Cancelado</p>
                    </div>
                </div>
                </div>
                <div class="contenedor-boton-cancelar" >
                    <a th:href="@{historial-envios}" id="volver"><button class="btn-secundario">Volver</button></a>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}" charset="UTF-8"></script>
<script th:src="@{/js/mapsCliente.js}" charset="UTF-8"></script>
<script async th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${clave} + '&loading=async&libraries=places&callback=iniciarMapaCliente&libraries=marker'}" charset="UTF-8"></script>
</body>
</html>