<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Viaje</title>
    <script src="https://kit.fontawesome.com/ca80211b53.js" crossorigin="anonymous" charset="UTF-8"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/form-viaje.css}"/>
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}" defer charset="UTF-8"></script>
    <script th:src="@{/js/mercadoPago.js}" defer charset="UTF-8"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg mx-4">
        <div class="d-flex align-items-center bg-violet"> <!-- Div pegado a la izquierda -->
            <a th:href="home-cliente" class="mx-2">
                <img th:src="@{/imagenes/logo.png}" class="d-block w-100 bg-violet" alt=",,," style="height: 50px;width: 50px">
            </a>
        </div>
    </nav>
</header>

<main class="form_viaje">
    <section id="pasos_realizar_envio" class="pasos_realizar_envio">
    <div class="pasos">
        <i class="icono fa-solid fa-box" th:classappend="${pasoActual == 1} ? 'icono-actual' : ''"></i>
        <i class="icono fa-solid fa-road" th:classappend="${pasoActual == 2} ? 'icono-actual' : ''"></i>
        <i class="icono fa-solid fa-circle-info" th:classappend="${pasoActual == 3} ? 'icono-actual' : ''"></i>
    </div>
    </section>
    <section id="formularios_envio" class="formularios_envio">
    <!---------------------------------------------->
    <!-------- PASO 1 DE 4, CREAR PAQUETE ---------->
    <!---------------------------------------------->
    <article class="paso_paquete" th:if="${pasoActual == 1}">

        <div class="fondo-form">
            <div style="display:flex;justify-content: right">
                <a th:href="home-cliente" class="salir"><i class="fa-regular fa-circle-xmark"></i></a>
            </div>
            <h1 th:if="${isEditPackage}" class="titulo_registroViaje">Editar Paquete</h1>
            <h1 th:unless="${isEditPackage}" class="titulo_registroViaje">Crear Paquete</h1>
            <div style="display:flex; justify-content: center">
                <img th:src="@{/imagenes/paquete.png}" class="foto" alt=",,,">
            </div>
            <br><br>
            <form class="fuente_formulario_registro" th:action="${isEditPackage ? 'editar-paquete': 'crear-paquete'}" method="post" th:object="${paquete}" novalidate>
                <section class="formulario">
                    <div class="columna">
                        <div>
                            <label for="peso" class="nombre fuente_formulario_registro">Peso (kg)</label>
                            <input type="number" step="0.01" class="form-control" id="peso" name="peso" th:field="*{peso}">
                            <span id="pesoError" class="error"></span>
                            <br><br>
                            <label for="descripcion" class="nombre fuente_formulario_registro">Descripcion (opcional)</label>
                            <input type="text" step="0.01" class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}">
                            <div>
                                <br><br>
                                <label class="nombre fuente_formulario_registro">¿Es Frágil?</label>
                                <div style="display: flex;flex-direction: row; gap:3em">
                                    <div>
                                        <input type="radio" id="esFragilSi" name="esFragil" value="true" th:checked="${paquete.esFragil == true}">
                                        <label for="esFragilSi">Sí</label>
                                    </div>
                                    <div>
                                        <input type="radio" id="esFragilNo" name="esFragil" value="false" th:checked="${paquete.esFragil == false}">
                                        <label for="esFragilNo">No</label>
                                    </div>
                                </div>
                                <input type="hidden" th:field="*{esFragil}">
                                <span id="esFragilError" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="columna">
                        <div>
                            <label for="dimension" class="nombre fuente_formulario_registro">Dimensión (cm³)</label>
                            <input type="number" step="0.01" class="form-control" id="dimension" name="dimension" th:field="*{dimension}">
                            <span id="dimensionError" class="error"></span>
                            <br><br>
                            <label for="destinatario" class="nombre fuente_formulario_registro">Destinatario</label>
                            <input type="text" step="0.01" class="form-control" id="destinatario" name="destinatario" th:field="*{destinatario}">
                            <span id="destinatarioError" class="error"></span>
                        </div>
                    </div>
                </section>

                <section class="errores" th:if="${mensajeError != null && !mensajeError.isEmpty()}">
                    <p th:text="${mensajeError}">Mensaje de error predeterminado</p>
                </section>

                <section class="botones">
                    <button th:if="${isEditPackage}" type="submit" class="btn-principal" id="boton_editar_paquete">Editar</button>
                    <button th:unless="${isEditPackage}" type="submit" class="btn-principal" id="boton_crear_paquete">Crear</button>
                </section>
            </form>

        </div>
    </article>
    <!---------------------------------------------->
    <!-------- PASO 2 DE 4, CREAR VIAJE ------------>
    <!---------------------------------------------->
    <article th:if="${pasoActual == 2}" class="fondo-form">
        <div style="display:flex;justify-content: right">
            <a th:href="home-cliente" class="salir"><i class="fa-regular fa-circle-xmark"></i></a>
        </div>
        <h1 th:if="${isEditViaje}" class="titulo_registroViaje">Editar Viaje</h1>
        <h1 th:unless="${isEditViaje}" class="titulo_registroViaje">Crear Viaje</h1>
        <div style="display:flex; justify-content: center">
            <img th:src="@{/imagenes/camion-de-reparto.png}" class="foto" alt=",,,">
        </div>
        <br><br>
        <form id="viajeForm" th:action="${isEditViaje ? 'editar-viaje': 'crear-viaje'}" method="post" th:object="${viaje}" accept-charset="UTF-8" novalidate>
        <section class="formulario">
            <div class="columna">
                <label for="direccionSalida" class="direccionSalida fuente_formulario_viaje">Dirección de Salida</label>
                <input type="text" class="form-control" id="direccionSalida" name="direccionSalida" th:field="*{domicilioDeSalida}" th:value="${isEditViaje? viaje.domicilioDeSalida : ''}" >
                <span id="direccionSalidaError" class="error"></span>
            </div>
            <div class="columna">
                <label for="direccionLlegada" class="direccionLlegada fuente_formulario_viaje">Dirección de Llegada</label>
                <input type="text" class="form-control" id="direccionLlegada" name=" direccionLlegada" th:field="*{domicilioDeLlegada}" th:value="${isEditViaje ? viaje.domicilioDeLlegada : ''}" >
                <span id="direccionLlegadaError" class="error"></span>
            </div>
            <input type="hidden" id="latitudSalida" name="latitudSalida" th:field="*{latitudDeSalida}">
            <input type="hidden" id="longitudSalida" name="longitudSalida" th:field="*{longitudDeSalida}">
            <input type="hidden" id="latitudLlegada" name="latitudLlegada" th:field="*{latitudDeLlegada}">
            <input type="hidden" id="longitudLlegada" name="longitudLlegada" th:field="*{longitudDeLlegada}">
        </section>
        <section class="botones">
                <!-- Botón Ingresar / Editar -->
            <button type="submit" class="btn-principal" id="boton_crear_viaje">Crear</button> <!-- js on click / y si no encuentra coord que no submitee-->
            </section>
        </form>
    </article>

    <!---------------------------------------------->
    <!-------- PASO 3----------->
    <!---------------------------------------------->
    <article th:if="${pasoActual == 3}" class="fondo-form">
        <div style="display:flex;justify-content: right">
            <a th:href="home-cliente" class="salir"><i class="fa-regular fa-circle-xmark"></i></a>
        </div>
        <h1 class="titulo_registroViaje">Detalles del Envío</h1>
        <div style="display:flex; justify-content: center">
            <img th:src="@{/imagenes/lista-de-verificacion.png}" class="foto" alt=",,,">
        </div><br><br>
        <div class="detalles">
            <div class="detalle-paq">
                <div style="display: flex; flex-direction: row; gap:1em">
                        <p style="text-align: center;font-size: 20px" class="card-text" ><strong>Paquete</strong></p><br>
                        <a th:href="form-editar-paquete" id="boton_ir_editar_paquete"><i class="fa-solid fa-pen-to-square"  style="color: white; transition: color 0.3s;" onmouseover="this.style.color='#ef6292'" onmouseout="this.style.color='white'"></i></a>
                </div>
                <div>
                    <p>Peso del Paquete: <strong th:text="${paquete.getPeso()}+'kg'"></strong></p>
                    <p>Dimesion del Paquete: <strong th:text="${paquete.getDimension()}+'cm³'"></strong></p>
                    <p>Nombre del Destinatario: <strong th:text="${paquete.getDestinatario()}"></strong></p>
                    <span th:if="${paquete.getEsFragil()==true}"><p>Paquete frágil</p></span>
                </div>
           </div>
            <div class="detalle-via">
                <div style="display: flex; flex-direction: row; gap:1em">
                    <p style="text-align: center;font-size: 20px" class="card-text"><strong>Viaje</strong></p><br>
                    <a th:href="form-editar-viaje" id="boton_ir_editar_viaje"><i class="fa-solid fa-pen-to-square"  style="color: white; transition: color 0.3s;" onmouseover="this.style.color='#ef6292'" onmouseout="this.style.color='white'"></i></a>
                </div>
                <div>
                    <p>Dirección de Salida: <strong th:text="${viaje.getDomicilioDeSalida()}"></strong></p>
                    <p>Dirección de Llegada: <strong th:text="${viaje.getDomicilioDeLlegada()}"></strong></p>
                </div>
            </div>
        </div>

        <section class="botones">
            <a th:href="@{crear-envio}" ><button class="btn-principal" id="boton_pagar_envio">Pagar</button></a>
        </section>

    </article>

</section>
</main>
</body>

<script th:src="@{https://sdk.mercadopago.com/js/v2}" charset="UTF-8"></script>
<script th:src="@{/js/form-envio.js}" charset="UTF-8"></script>
<script th:src="@{/js/crearViaje.js}" charset="UTF-8"></script>
<script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${clave} + '&libraries=places&callback=iniciarAutocompletado'}" defer charset="UTF-8"></script>
</html>
