<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear vehículo</title>
    <script src="https://kit.fontawesome.com/ca80211b53.js" crossorigin="anonymous" charset="UTF-8"></script>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <!--<link rel="stylesheet" th:href="@{/css/home.css}"/></head>-->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/form-vehiculo.css}"/>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg mx-4">
        <div class="d-flex align-items-center bg-violet"> <!-- Div pegado a la izquierda -->
            <div th:if="${noVehiculo}">
                <a th:href="${noVehiculo == true && estaLogueado==true ? 'home-conductor' : 'home'}" class="mx-2">
                    <img th:src="@{/imagenes/logo.png}" class="d-block w-100 bg-violet" alt=",,," style="height: 50px;width: 50px">
                </a>
            </div>
            <div th:if="${!noVehiculo}">
                <a th:href="home-conductor" class="mx-2">
                    <img th:src="@{/imagenes/logo.png}" class="d-block w-100 bg-violet" alt=",,," style="height: 50px;width: 50px">
                </a>
            </div>

        </div>
        <div class="collapse navbar-collapse justify-content-end"> <!-- Div pegado a la derecha -->
            <ul class="navbar-nav mr-auto">
                <li th:if="${noVehiculo}" class="nav-item active p-2">
                    <a th:href="${noVehiculo == true && estaLogueado==true ? 'home-conductor' : 'home'}" class="nav-link p-2 text-white">Inicio</a>
                </li>
                <li th:if="${!noVehiculo}" class="nav-item active p-2">
                    <a th:href="home-conductor" class="nav-link p-2 text-white">Inicio</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="compania" class="nav-link p-2 text-white" href="#">Compañía</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="ayuda" class="nav-link p-2 text-white" href="#">Ayuda</a>
            </ul>
        </div>
    </nav>
</header>
<main>

    <div class="fondo-form">
        <h1 class="titulo_registroConductor">Registrar Vehículo</h1>
        <form th:action="${isEditForm ? 'editar-vehiculo' : 'registrar-vehiculo'}" method="post" th:object="${vehiculo}" novalidate>
        <section class="formulario">
            <div class="columna">
                <div>
                    <label for="tipoVehiculo">Tipo de Vehiculo:</label>
                    <select id="tipoVehiculo" name="tipoVehiculo" class="form-control" th:field="*{tipoDeVehiculo}">
                        <option value="" th:text="'Seleccione un tipo de Vehiculo'"></option>
                        <option th:each="tipo : ${T(com.tallerwebi.dominio.enums.TipoVehiculo).values()}"
                                th:value="${tipo}"
                                th:selected="${vehiculo.getTipoDeVehiculo() != null and tipo.name() == vehiculo.getTipoDeVehiculo().name()}"
                                th:text="${tipo}">
                        </option>
                    </select>
                    <span id="tipoVehiculoError" class="error"></span>
                </div>

                <div>
                    <label for="modelo" >Modelo</label><br>
                    <select  id="modelo" class="form-control" th:field="*{modelo}">
                        <option value="" th:text="'Seleccione un Modelo'"></option>
                        <option th:each="tipo : ${T(com.tallerwebi.dominio.enums.ModeloVehiculo).values()}"
                                th:value="${tipo}" th:text="${tipo}">
                        </option>
                    </select>
                    <span id="modeloError" class="error"></span>
                </div>

                <div>
                    <label for="color" class="nombre fuente_formulario_registro">Color</label><br>
                    <select class="form-control" id="color" th:field="*{color}">
                        <option value="" th:text="'Seleccione un Color'"></option>
                        <option th:each="tipo : ${T(com.tallerwebi.dominio.enums.Color).values()}"
                                th:value="${tipo}" th:text="${tipo}">
                        </option>
                    </select>
                    <span id="colorError" class="error"></span>
                </div>
            </div>

            <div class="columna">
                <div>
                    <label for="patente" class="apellido fuente_formulario_registro">Patente</label>
                    <input type="text" class="form-control" id="patente" name="patente" th:field="*{patente}" th:readonly="${editar}">
                    <span id="patenteError" class="error"></span>
                    <span class="error" th:if="${mensajeError != null and !mensajeError.isEmpty()}" >
                        <p th:text="${mensajeError}"></p></span>
                </div>
                    <div>
                        <label for="pesoSoportado" class="nombreUsuario fuente_formulario_registro">Peso Soportado (kg)</label>
                        <input type="text" class="form-control" id="pesoSoportado" name="pesoSoportado" th:field="*{pesoSoportado}">
                        <span id="pesoSoportadoError" class="error"></span>
                    </div>
                    <div>
                        <label for="dimensionDisponible" class="email fuente_formulario_registro">Dimension Disponible (cm³)</label>
                        <input type="text" class="form-control" id="dimensionDisponible" name="dimensionDisponible" th:field="*{dimensionDisponible}">
                        <span id="dimensionDisponibleError" class="error"></span>
                    </div>
            </div>
        </section>


        <section class="botones">
            <a th:if="${isEditForm && estaLogeado}" th:href="perfil"><button type="button" class="btn-secundario">Cancelar</button></a>
            <a th:unless="${estaLogeado}" th:href="home"><button type="button" class="btn-secundario">Cancelar</button></a>
            <a th:if="${estaLogeado && !isEditForm}" th:href="home-conductor"><button type="button" class="btn-secundario">Cancelar</button></a>
            <button th:if="${isEditForm}" type="submit" id="boton_editar_vehiculo" class="btn-principal">Editar</button>
            <button th:unless="${isEditForm}" type="submit" id="boton_reg_vehiculo" class="btn-principal">Registrar</button>
        </section>
    </form>


    </div>

</main>
<footer>

</footer>
</body>
<script th:src="@{/js/form-vehiculo.js}" charset="UTF-8"></script>

</html>