<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Motomensajeria</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">UNLAM</a>
</nav>

<main role="main" class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="loginbox" class="card shadow-lg">
                <div class="card-header text-center bg-primary text-white">
                    <h3 class="card-title">Agregar Paquete</h3>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/validar-paquete}" method="POST" th:object="${datosPaquete}">
                        <div class="mb-3">
                            <label for="domicilio-salida" class="form-label">Domicilio de Salida:</label>
                            <input th:field="*{domicilioSalida}" id="domicilio-salida" type="text" class="form-control" required/>
                        </div>

                        <div class="mb-3">
                            <label for="domicilio-entrega" class="form-label">Domicilio de Llegada:</label>
                            <input th:field="*{domicilioEntrega}" id="domicilio-entrega" type="text" class="form-control" required/>
                        </div>

                        <div class="mb-3">
                            <label for="codigo-postal" class="form-label">Codigo Postal:</label>
                            <input th:field="*{codigoPostal}" id="codigo-postal" type="number" class="form-control" required/>
                        </div>


                        <div class="text-center">
                            <button id="btn-login" class="btn btn-lg btn-primary btn-block mt-4" Type="Submit">Agregar Paquete</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>

</body>
</html>