<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foto de Perfil</title>
  <script src="https://kit.fontawesome.com/ca80211b53.js" crossorigin="anonymous" charset="UTF-8"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{css/main.css}"/>
  <link rel="stylesheet" th:href="@{/css/foto-perfil.css}"/>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg mx-4">
    <div class="d-flex align-items-center bg-violet"> <!-- Div pegado a la izquierda -->
      <a th:href="${usuario != null && usuario.tipoUsuario != null ? 'home-' + usuario.tipoUsuario : 'home'}" class="mx-2">
        <img th:src="@{/imagenes/logo.png}" class="d-block w-100 bg-violet" alt=",,," style="height: 50px;width: 50px">
      </a>
    </div>

    <div class="collapse navbar-collapse justify-content-end"> <!-- Div pegado a la derecha -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active  p-2">
          <a th:href="${usuario != null && usuario.tipoUsuario != null ? 'home-' + usuario.tipoUsuario : 'home'}" class="nav-link p-2 text-white">Inicio</a>
        </li>
        <li class="nav-item p-2">
          <a th:href="compania" class="nav-link p-2 text-white" href="#">Compañía</a>
        </li>
        <li class="nav-item p-2">
          <a th:href="ayuda" class="nav-link p-2 text-white" href="#">Ayuda</a>
        </li>
        <li class="nav-item p-2" th:if="${usuario.getTipoUsuario() == T(com.tallerwebi.dominio.enums.TipoUsuario).conductor}">
          <a th:href="viajes-en-proceso" class="nav-link p-2 text-white">Viajes en Proceso</a>
        </li>
        <li class="nav-item p-2" th:if="${usuario.getTipoUsuario() == T(com.tallerwebi.dominio.enums.TipoUsuario).conductor}">
          <a th:href="historial" class="nav-link p-2 text-white" href="#">Historial de Viajes</a>
        </li>
        <li class="nav-item p-2" th:if="${usuario.getTipoUsuario() == T(com.tallerwebi.dominio.enums.TipoUsuario).cliente}">
          <a th:href="envios-en-proceso" class="nav-link p-2 text-white">Envios en Proceso</a>
        </li>
        <li class="nav-item p-2" th:if="${usuario.getTipoUsuario() == T(com.tallerwebi.dominio.enums.TipoUsuario).cliente}">
          <a th:href="historial-envios" class="nav-link p-2 text-white" href="#">Historial de Envios</a>
        </li>
      </ul>
      <!-- Muestra el botón de usuario solo si el usuario está logueado -->
      <a th:href="perfil" class="btn mx-2" style="border:none;">
        <div class="container d-flex justify-content-center align-items-center"  th:if="${usuario.getImagenPerfil() != null}" style="border: none">
          <img alt="img" class="d-block rounded-circle" th:src="'data:image/jpg;charset=utf-8;base64,' + ${usuario.getImageDataBase64()}" style=" width: 40px; height: 40px;"/>
        </div>
        <div th:if="${usuario.getImagenPerfil() == null}">
          <img th:src="@{/imagenes/user.png}" alt=",,," style="height: 20px;width: 20px">
        </div>
      </a>
      <a th:href="@{cerrar-sesion}"><i class="fa-solid fa-arrow-right-from-bracket" style=" border-radius:25px; padding:11px; background-color: white; color: #36054E; transition: color 0.3s;" onmouseover="this.style.color='white';this.style.backgroundColor='lightgray'" onmouseout="this.style.color='purple'; this.style.backgroundColor='white'" ></i></a>
    </div>
  </nav>
</header>
<main style="height: 40rem">
  <div class="main_registro">
    <div class="fondo-form">
      <h1 class="titulo_registroConductor">Foto de Perfil</h1>
      <form id="conductorForm" th:action="@{/subir-foto}" th:object="${usuario}" method="POST" enctype="multipart/form-data">
        <section class="formulario">
          <div class="columna">
            <div class="imagen_contenedor" id="imagenActualContenedor" th:if="${usuario.getImagenPerfil() != null}">
              <img id="imagenActual" alt="Imagen Actual" th:src="'data:image/jpg;charset=utf-8;base64,' + ${usuario.getImageDataBase64()}" class="figure"/>
            </div>

            <div class="imagen_contenedor" id="imagenDefaultContenedor" th:if="${usuario.getImagenPerfil() == null}">
              <img id="imagenDefault" alt="Imagen Default" th:src="@{/imagenes/user.png}" class="figure"/>
            </div>

            <div class="imagen_contenedor" id="imagenNuevaContenedor" style="display: none;">
              <img id="imagenNueva" alt="Nueva Imagen Previa" class="figure"/>
            </div>

            <div class="contenedor_botones">
              <div>
                <a th:href="@{/perfil}" id="backToProfile">
                  <button class="btn-secundario" type="button">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </a>
              </div >
                <input th:field="*{imagenPerfil}" type="file" name="image" accept="image/*" class="btn-principal" onchange="previewImage(event)">
              <div>
                <button type="submit" class="btn-secundario">
                  <i class="fa-solid fa-upload"></i>
                </button>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</main>
</body>
<script>
  function previewImage(event) {
    const imagenInput = event.target;
    if (imagenInput.files && imagenInput.files[0]) {
      const reader = new FileReader();
      reader.onload = function (e) {
        const imagenActualContenedor = document.getElementById('imagenActualContenedor');
        const imagenDefaultContenedor = document.getElementById('imagenDefaultContenedor');
        const imagenNuevaElement = document.getElementById('imagenNueva');
        const imagenNuevaContenedor = document.getElementById('imagenNuevaContenedor');

        if (imagenActualContenedor) {
          imagenActualContenedor.style.display = 'none';
        }
        if (imagenDefaultContenedor) {
          imagenDefaultContenedor.style.display = 'none';
        }

        imagenNuevaElement.src = e.target.result;
        imagenNuevaContenedor.style.display = 'block';
      };
      reader.readAsDataURL(imagenInput.files[0]);
    }
  }

  document.getElementById('backToProfile').addEventListener('click', function(event) {
    event.preventDefault();
    window.location.href = this.href;
  });
</script>
</html>
