<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/ca80211b53.js" crossorigin="anonymous" charset="UTF-8"></script>
    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <link rel="stylesheet" th:href="@{css/historial-envios.css}"/>
    <!--    <link rel="stylesheet" th:href="@{css/viaje.css}"/>-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>


    <title>Historial</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg mx-4">
        <div class="d-flex align-items-center bg-violet"> <!-- Div pegado a la izquierda -->
            <div class="d-flex align-items-center bg-violet"> <!-- Div pegado a la izquierda -->
                <a th:href="home-cliente" class="mx-2">
                    <img th:src="@{/imagenes/logo.png}" class="d-block w-100 bg-violet" alt=",,," style="height: 50px;width: 50px">
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active  p-2">
                    <a th:href="home-cliente" class="nav-link p-2 text-white" href="#">Inicio</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="compania" class="nav-link p-2 text-white" href="#">Compañía</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="ayuda" class="nav-link p-2 text-white" href="#">Ayuda</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="envios-en-proceso" class="nav-link p-2 text-white">Envios en Proceso</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="historial-envios" class="nav-link p-2 text-white" href="#">Historial de Envios</a>
                </li>
            </ul>
            <a th:href="perfil" class="btn mx-2" style="border:none;">
                <div class="container d-flex justify-content-center align-items-center"  th:if="${cliente.getImagenPerfil() != null}" style="border: none">
                    <img alt="img" class="d-block rounded-circle" th:src="'data:image/jpg;charset=utf-8;base64,' + ${cliente.getImageDataBase64()}" style=" width: 40px; height: 40px;"/>
                </div>
                <div th:if="${cliente.getImagenPerfil() == null}">
                    <img th:src="@{/imagenes/user.png}" alt=",,," style="height: 20px;width: 20px">
                </div>
            </a>
            <a th:href="@{cerrar-sesion}">
                <i class="fa-solid fa-arrow-right-from-bracket" style=" border-radius:25px; padding:11px; background-color: white; color: #370a37; transition: color 0.3s;" onmouseover="this.style.color='white';this.style.backgroundColor='transparent';this.style.borderColor='white';this.style.border='1px solid white'" onmouseout="this.style.color='#370a37'; this.style.backgroundColor='white'" ></i>            </a>
        </div>
    </nav>
</header>
<main role="main" class="container">
            <h1 class="text-center h1-home">Historial de Envíos</h1>
            <div th:if="${viajesObtenidos == null || #lists.isEmpty(viajesObtenidos)}" class="fondo-form" id="noHayGenerico">
                <div class="noHayGenerico">
                    <h5>No hay historial disponible. Solicite envíos de paquetes para poder visualizarlos aquí.</h5 >
                    <i class="fa-solid fa-clock-rotate-left"></i>
                </div>
              </div>

        <div class="card mt-3" style="background-color: transparent; border: none;" th:unless="${#lists.isEmpty(viajesObtenidos)}">
            <div class="card-body" th:each="viaje : ${viajesObtenidos}">

                    <div class="fondo-form" th:data-viaje-id="${viaje.id}">
                        <div class="viajes-proceso-img">
                            <div>
                                <p class="card-text"><b>Salida:</b> <span th:text="${viaje.getDomicilioDeSalida()}"></span></p>
                                <p class="card-text"><b>Llegada:</b> <span th:text="${viaje.getDomicilioDeLlegada()}"></span></p>
                                <p class="card-text"><b>Precio:</b> <span th:text="${viaje.getPrecio()}"></span></p>
                                <p class="card-text" th:if="${viaje.conductor != null}"><b>Nombre del Conductor:</b> <span th:text="${viaje.conductor.nombre}"></span></p>
                                <p class="card-text" th:if="${viaje.conductor != null}"><b>Patente del Vehículo:</b> <span th:text="${viaje.conductor.vehiculo.patente}"></span></p>
                                <p class="card-text" th:if="${viaje.conductor != null}"><b>Color del Vehículo:</b> <span th:text="${viaje.conductor.vehiculo.color}"></span></p>
                                <p class="card-text" th:if="${viaje.conductor != null}"><b>Modelo del Vehículo:</b> <span th:text="${viaje.conductor.vehiculo.modelo}"></span></p>
                                <p class="card-text" th:if="${viaje.conductor != null}"><b>Tipo de Vehículo:</b> <span th:text="${viaje.conductor.vehiculo.tipoDeVehiculo}"></span></p>
                            </div>
                        </div>
                        <div class="contenedor-boton-cancelar">
                            <div th:with="TERMINADO=${T(com.tallerwebi.dominio.enums.TipoEstado).TERMINADO}">
                                <div th:if="${viaje.getEstado() == TERMINADO}" class="terminado">
                                    <i class="fa-regular fa-circle-check"></i>
                                    <p>Terminado</p>
                                </div>

                            </div>
                            <div th:with="CANCELADO=${T(com.tallerwebi.dominio.enums.TipoEstado).CANCELADO}" >
                                   <div th:if="${viaje.getEstado() == CANCELADO}" class="cancelado">
                                       <i class="fa-solid fa-xmark"></i>
                                       <p>Cancelado</p>
                                   </div>
                            </div>
                            <div>
                                <div th:with="tipoVehiculo=${viaje.conductor != null && viaje.conductor.vehiculo != null ? viaje.conductor.vehiculo.tipoDeVehiculo : ''}">
                                    <div>
                                    <div th:if="${tipoVehiculo == T(com.tallerwebi.dominio.enums.TipoVehiculo).AUTO}">
                                        <i class="fa-solid fa-car-side"></i>
                                    </div>
                                    <div th:if="${tipoVehiculo == T(com.tallerwebi.dominio.enums.TipoVehiculo).CAMION}">
                                        <i class="fa-solid fa-truck"></i>
                                    </div>
                                    <div th:if="${tipoVehiculo == T(com.tallerwebi.dominio.enums.TipoVehiculo).MOTO}">
                                        <i class="fa-solid fa-motorcycle"></i>
                                    </div>
                                </div>
                                <br><a th:href="@{/detalle-envio(idViaje=${viaje.getId()})}" class="btn-principal" th:id="'detalle-' + ${viaje.getId()}">Ver detalle</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
</main>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}" charset="UTF-8"></script>
</body>
</html>