<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Motomensajeria</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/home.css}"/>

</head>

<body>
<header>
</header>
<main role="main" class="container">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <img src="https://img.freepik.com/foto-gratis/hermoso-paisaje-carretera-montana_23-2149052440.jpg?w=740&t=st=1714708152~exp=1714708752~hmac=4c4f82706e5cea4aaad0215d838e515f6ff15469a0ddf5e7a8f951ea48d89896" class="img-fluid rounded" alt="Conductor en moto">
        <h2 class="mt-3">Bienvenido a Motomensajería</h2>
        <p>Tu solución rápida y confiable para entregas locales.</p>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Ingresa a tu cuenta</h5>
          </div>
          <div class="card-body">
            <form action="#" method="post">
              <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Ingrese su correo electrónico">
              </div>
              <div class="form-group">
                <label for="password">Contraseña:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña">
              </div>
              <button type="submit" class="btn btn-primary">Ingresar</button>
            </form>
          </div>
        </div>
        <div class="mt-3">
          <a href="/spring/form-conductor" class="btn btn-secondary">Registrarse</a>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
