<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Motomensajeria</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/home.css}"/>

</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg">
    <div>
      <img th:src="${logo.getImagenBase64()}" class="d-block w-100" alt=",,,"  style="height: 50px;width: 50px">
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Compañía</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ayuda</a>
        </li>
      </ul>
      <button class="btn btn-primary btn-ingresar">Ingresar</button>
    </div>
  </nav>
</header>
<main role="main" class="container">
  <div class="contenido">
    <div class="texto">
      <p>Línea 1 de texto</p>
      <p>Línea 2 de texto</p>
      <p>Línea 3 de texto</p>
    </div>
    <div class="imagen">
      <img th:src="${auto.getImagenBase64()}" class="d-block w-100" alt=",,,"  style="height: 250px;">
    </div>
  </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
