<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://kit.fontawesome.com/ca80211b53.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{css/main.css}"/>
  <link rel="stylesheet" th:href="@{css/homeStyle.css}"/>
  <link rel="stylesheet" th:href="@{css/viajes.css}"/>

  <title>Motomensajeria</title>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg mx-4">
    <div class="d-flex align-items-center bg-violet">
      <a th:href="home" class="mx-2">
        <img th:src="@{/imagenes/logo.png}" class="d-block w-100 bg-violet" alt=",,," style="height: 50px;width: 50px">
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active  p-2">
          <a th:href="home" class="nav-link p-2 text-white" href="#">Inicio</a>
        </li>
        <li class="nav-item p-2">
          <a th:href="compania" class="nav-link p-2 text-white" href="#">Compañía</a>
        </li>
        <li class="nav-item p-2">
          <a th:href="ayuda" class="nav-link p-2 text-white" href="#">Ayuda</a>
        </li>
      </ul>
      <a th:href="@{login}" class="btn-custom" style="text-decoration: none">Ingresar</a>
        <i class="fa-solid fa-arrow-right-from-bracket" style="border-radius:25px; padding:11px; background-color: white; color: #36054E; transition: color 0.3s;" onmouseover="this.style.color='white';this.style.backgroundColor='lightgray'" onmouseout="this.style.color='#36054E'; this.style.backgroundColor='white'"></i>
      </a>
    </div>
  </nav>
</header>
<main role="main" class="container">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="contenido d-flex justify-content-center align-items-center mt-lg-3">
          <div class="texto text-center text-white" id="letrasHome">
            <h2 class="m-0">¡Tus paquetes a tiempo siempre!</h2>
            <h2 class="m-0">Te ofrecemos envíos en el acto.</h2>
            <p class="m-0">Confía en nosotros.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contenido d-flex justify-content-center align-items-center">
          <div class="imagen text-center">
            <img th:src="@{/imagenes/auto-home.svg}" class="d-block mx-auto" alt="Imagen de Auto" style="width: 180%; height: 200%;">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>