<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Motomensajeria</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body style="background-color: #e8f0fe;">
<div class="container mt-3">
    <h1 class="text-center mb-4" style="color: #2196F3;">Asociar Vehículo</h1>
    <form action="#" th:action="@{/agregar-vehiculo-conductor}" method="post" th:object="${vehiculo}" class="row">
        <div class="col-md-6 mb-3">
            <label for="marca" class="form-label">Marca:</label>
            <input th:field="*{marca}" type="text" class="form-control" id="marca" name="marca" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="modelo" class="form-label">Modelo:</label>
            <input th:field="*{modelo}" type="text" class="form-control" id="modelo" name="modelo" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="patente" class="form-label">Patente:</label>
            <input th:field="*{patente}" type="text" class="form-control" id="patente" name="patente" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="color" class="form-label">Color:</label>
            <input th:field="*{color}" type="text" class="form-control" id="color" name="color" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="tipoVehiculo" class="form-label">Tipo de Vehículo:</label>
            <select th:field="*{tipoVehiculo}" id="tipoVehiculo" name="tipoVehiculo" class="form-control" required>
                <option value="AUTO">Auto</option>
                <option value="MOTO">Moto</option>
                <option value="CAMION">Camion</option>
                <option th:if="${vehiculo.tipoVehiculo ne 'AUTO' and vehiculo.tipoVehiculo ne 'MOTO' and vehiculo.tipoVehiculo ne 'CAMION'}" th:value="${vehiculo.tipoVehiculo}" th:text="${vehiculo.tipoVehiculo}"></option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Agregar Vehículo</button>
        </div>
    </form>
</div>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
