<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Motomensajeria</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body style="background-color: #f0f0f0;">

<form action="#" th:action="@{/agregar-vehiculo-conductor}" method="post" th:object="${vehiculo}">
    <label for="marca">Marca:</label>
    <input th:field="*{marca}" type="text" id="marca" name="marca" required><br>

    <label for="modelo">Modelo:</label>
    <input th:field="*{modelo}" type="text" id="modelo" name="modelo" required><br>

    <label for="patente">Patente:</label>
    <input th:field="*{patente}" type="text" id="patente" name="patente" required><br>

    <label for="color">Color:</label>
    <input th:field="*{color}" type="text" id="color" name="color" required><br>

    <label for="tipoVehiculo">Tipo de Vehículo:</label>
    <select th:field="*{tipoVehiculo}" id="tipoVehiculo" name="tipoVehiculo" required>
        <option value="AUTO">Auto</option>
        <option value="MOTO">Moto</option>
        <option value="CAMION">Camion</option>
        <option th:if="${vehiculo.tipoVehiculo ne 'AUTO' and vehiculo.tipoVehiculo ne 'MOTO' and vehiculo.tipoVehiculo ne 'CAMION'}" th:value="${vehiculo.tipoVehiculo}" th:text="${vehiculo.tipoVehiculo}"></option>
    </select><br>

    <!-- <input type="hidden" id="email" name="email" value="email_del_conductor"> -->

    <button type="submit">Agregar Vehículo</button>
</form>

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>