<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Motomensajeria</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body style="background-color: #f0f0f0;">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container bg-white p-4 rounded shadow-lg">
                <h2 class="text-center mb-4">Registrar Conductor</h2>
                <form action="#" th:action="@{/registrar-conductor}" method="post" th:object="${conductor}">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input th:field="*{nombre}" type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido:</label>
                        <input th:field="*{apellido}" type="text" class="form-control" id="apellido" name="apellido" required>
                    </div>
                    <div class="form-group">
                        <label for="dni">Número de DNI:</label>
                        <input th:field="*{numeroDeDni}" type="number" class="form-control" id="dni" name="dni" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input th:field="*{email}" type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="usuario">Usuario:</label>
                        <input th:field="*{usuario}" type="text" class="form-control" id="usuario" name="usuario" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña:</label>
                        <input th:field="*{password}" type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">GUARDAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap JS (jQuery and Popper.js required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
