<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <script src="https://kit.fontawesome.com/ca80211b53.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <script th:src="@{/js/perfil.js}"> </script>
    <!-- custom style -->
    <link rel="stylesheet" th:href="@{css/login.css}"/>
    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <link rel="stylesheet" th:href="@{css/homeStyle.css}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg mx-4">
        <div class="d-flex align-items-center bg-violet"> <!-- Div pegado a la izquierda -->
            <a th:href="'home' + ${usuario.getTipoUsuario()}" class="mx-2">
                <img th:src="@{/imagenes/logo.png}" class="d-block w-100 bg-violet" alt=",,," style="height: 50px;width: 50px">
            </a>
        </div>

        <div class="collapse navbar-collapse justify-content-end"> <!-- Div pegado a la derecha -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active  p-2">
                    <a th:href="'home' + ${usuario.getTipoUsuario()}" class="nav-link p-2 text-white" href="#">Inicio</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="compania" class="nav-link p-2 text-white" href="#">Compañía</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="ayuda" class="nav-link p-2 text-white" href="#">Ayuda</a>
                </li>
                <li class="nav-item p-2" th:if="${usuario.getTipoUsuario() == T(com.tallerwebi.dominio.enums.TipoUsuario).Conductor}">
                    <a th:href="viajes-en-proceso" class="nav-link p-2 text-white">Viajes en Proceso</a>
                </li>
                <li class="nav-item p-2" th:if="${usuario.getTipoUsuario() == T(com.tallerwebi.dominio.enums.TipoUsuario).Conductor}">
                    <a th:href="historial" class="nav-link p-2 text-white" href="#">Historial de Viajes</a>
                </li>
                <li class="nav-item p-2" th:if="${usuario.getTipoUsuario() == T(com.tallerwebi.dominio.enums.TipoUsuario).Cliente}">
                    <a th:href="viajes-en-proceso" class="nav-link p-2 text-white">Envios en Proceso</a>
                </li>
                <li class="nav-item p-2" th:if="${usuario.getTipoUsuario() == T(com.tallerwebi.dominio.enums.TipoUsuario).Cliente}">
                    <a th:href="historial" class="nav-link p-2 text-white" href="#">Historial de Envios</a>
                </li>
            </ul>
            <!-- Muestra el botón de usuario solo si el usuario está logueado -->
            <a th:href="perfil" class="btn mx-2" style="border:none;">
                <div class="container d-flex justify-content-center align-items-center"  th:if="${usuario.getImagenPerfil() != null}" style="border: none">
                    <img alt="img" class="d-block rounded-circle" th:src="'data:image/jpg;charset=utf-8;base64,' + ${usuario.getImageDataBase64()}" style=" width: 40px; height: 40px;"/>
                </div>
                <div th:if="${usuario.getImagenPerfil() == null}">
                    <img th:src="@{/imagenes/user.png}" alt=",,," style="height: 20px;width: 20px">
                </div>
            </a>
            <a th:href="@{cerrar-sesion}"><i class="fa-solid fa-arrow-right-from-bracket" style=" border-radius:25px; padding:11px; background-color: white; color: #36054E; transition: color 0.3s;" onmouseover="this.style.color='white';this.style.backgroundColor='lightgray'" onmouseout="this.style.color='purple'; this.style.backgroundColor='white'" ></i></a>
        </div>
    </nav>
</header>
<main>
    <div class="container d-flex justify-content-center">
    <!-- TARJETA IZQUIERDA -->

        <div class="card mx-3 p-3" style="width: 18rem;height: 35rem; background-color: #D9D9D9;  border-radius: 50px;">
            <div class="container d-flex justify-content-center align-items-center">
                <div class="rounded-circle bg-secondary d-flex justify-content-center align-items-center" style="width: 100px; height: 100px;">
                    <a th:href="foto-perfil" style="display: flex; justify-content: center; align-items: center;">
                        <div class="container d-flex justify-content-center align-items-center"  th:if="${usuario.getImagenPerfil() != null}">
                            <img alt="img" class="d-block rounded-circle" th:src="'data:image/jpg;charset=utf-8;base64,' + ${usuario.getImageDataBase64()}" style="width: 100px; height: 100px;"/>
                        </div>

                        <div th:if="${usuario.getImagenPerfil() == null}">
                            <img th:src="@{/imagenes/user.png}" alt=",,," style="height: 80px;width: 80px">
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-body" style="align-content: center; justify-content: center; text-align: center;align-items: center">
                <h5 class="card-title text-center"><span th:text="${usuario.getNombreUsuario()}"></span></h5>
                <p class="card-title text-center"><span th:text="${usuario.getEmail()}"></span></p>

            </div>
            <div class="card-body">
                <p class="card-text option active" data-target="perfil"><i class="fa-solid fa-id-card" ></i> Perfil</p>
                <p th:if="${usuario.getTipoUsuario() == T(com.tallerwebi.dominio.enums.TipoUsuario).Conductor}" class="card-text option" data-target="vehiculo"><i class="fa-solid fa-car-side" ></i> Vehiculo</p>
                <p class="card-text option" data-target="seguridad"><i class="fa-solid fa-shield-halved" ></i> Seguridad</p>
            </div>
        </div>


        <!-- TARJETA DERECHA 1 DE 3 (PERFIL) -->
        <div id="perfil" class="card mx-3 p-3" style="width: 30rem;height: 35rem; background-color: #D9D9D9;  border-radius: 50px;">
            <div class="card-body">
                <h5 class="card-title text-center p-2"><strong>Perfil</strong></h5>
                <div class="d-flex justify-content-between pt-3">
                    <p class="card-text"><strong>Mis datos personales</strong></p>
                    <a  th:href="@{form-editar}"><i class="fa-solid fa-pen-to-square"  style="color: #36054E; transition: color 0.3s;" onmouseover="this.style.color='purple'" onmouseout="this.style.color='#36054E'"></i></a><!-- redirect al controller de registro conductor-->
                </div>
            </div>
            <div class="card-body">
                <p><span th:text="${usuario.getNombre() + ' ' + usuario.getApellido()}"></span></p>
                <p>Dirección: <span th:text="${usuario.getDomicilio()}"></span></p>
                <p>Teléfono: <span th:text="${usuario.getNumeroDeTelefono()}"></span></p>
                <p>E-mail: <span th:text="${usuario.getEmail()}"></span></p>
            </div>
        </div>

    <!-- TARJETA DERECHA 2 DE 3 (VEHICULO) -->
        <div th:if="${usuario.getTipoUsuario() == T(com.tallerwebi.dominio.enums.TipoUsuario).Conductor}" id="vehiculo" class="card mx-3 p-3" style="width: 30rem;height: 35rem; background-color: #D9D9D9;  border-radius: 50px;">
            <div class="card-body">
                <h5 class="card-title text-center p-2"><strong>Vehículo</strong></h5>
                </div>
                <div th:if="${usuario.getVehiculo()!=null}">
                    <div class="d-flex justify-content-between pt-3">
                        <p class="card-text"><strong>Información del Vehículo</strong></p>
                        <a th:href="@{editar-vehiculo}"><i class="fa-solid fa-pen-to-square" style="color: #36054E; transition: color 0.3s;" onmouseover="this.style.color='purple'" onmouseout="this.style.color='#36054E'"></i></a>
                    </div>
                <div class="card-body">
                    <p>Patente: <strong th:text="${usuario.getVehiculo().getPatente()}"></strong></p>
                    <p>Modelo: <strong th:text="${usuario.getVehiculo().getModelo()}"></strong></p>
                    <p>Color: <strong th:text="${usuario.getVehiculo().getColor()}"></strong></p>
                </div>
                <div th:if="${usuario.getVehiculo()==null}">
                    <div class="noVehiculo">
                        <a th:href="vehiculo" class="btn_registro">Registrar Nuevo Vehículo</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- TARJETA DERECHA 3 DE 3 (SOPORTE EN LÍNEA) -->
        <div id="seguridad" class="card mx-3 p-3" style="width: 30rem;height: 35rem; background-color: #D9D9D9;  border-radius: 50px;">
            <div class="card-body">
                <h5 class="card-title text-center p-2"><strong>Seguridad</strong></h5>
            </div>
            <div class="card-body">
                <form  id="form-cerrar-cuenta" th:action="@{/borrar-cuenta}" method="GET">
                    <button class="boton_borrar_cuenta" type="submit">Cerrar cuenta</button>
                </form>
                <br><br>
                <h4>Ayuda</h4>
                <a href="#" style="text-decoration: none; color: black; transition: color 0.3s;" onmouseover="this.style.color='purple'" onmouseout="this.style.color='black'">
                    <p>Chatea con nuestro soporte online aquí.</p></a> <!--Redirect a la pag de soporte-->
            </div>
        </div>
    </div>
</main>
</body>
</html>