<!--<!DOCTYPE html>-->
<!--<html lang="es" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Iniciar Sesión</title>-->
<!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>-->

<!--    &lt;!&ndash; custom style &ndash;&gt;-->
<!--    <link rel="stylesheet" th:href="@{css/login.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{css/main.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <nav class="navbar navbar-expand-lg mx-4">-->
<!--        <div class="d-flex align-items-center bg-violet"> &lt;!&ndash; Div pegado a la izquierda &ndash;&gt;-->
<!--            <a th:href="home" class="mx-2">-->
<!--                <img th:src="${logo.getImagenBase64()}" class="d-block w-100 bg-violet" alt=",,," style="height: 50px;width: 50px">-->
<!--            </a>-->
<!--        </div>-->

<!--        <div class="collapse navbar-collapse justify-content-end"> &lt;!&ndash; Div pegado a la derecha &ndash;&gt;-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                <li class="nav-item active  p-2">-->
<!--                    <a th:href="home" class="nav-link p-2 text-white" href="#">Inicio</a>-->
<!--                </li>-->
<!--                <li class="nav-item p-2">-->
<!--                    <a class="nav-link p-2 text-white" href="#">Compañía</a>-->
<!--                </li>-->
<!--                <li class="nav-item p-2">-->
<!--                    <a class="nav-link p-2 text-white" href="#">Ayuda</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <a th:unless="${isUsuarioLogueado}" th:href="@{login}" class="btn-custom">Ingresar</a>-->
<!--            &lt;!&ndash; Muestra el botón de usuario solo si el usuario está logueado &ndash;&gt;-->
<!--            <a th:if="${isUsuarioLogueado}" th:href="perfil-conductor" class="btn mx-2">-->
<!--                <img th:src="${user.getImagenBase64()}" alt=",,," style="height: 20px;width: 20px">-->
<!--            </a>-->
<!--        </div>-->
<!--    </nav>-->
<!--</header>-->
<!--<main>-->
<!--    <div class="container d-flex justify-content-center">-->
<!--        <div class="card mx-3" style="width: 18rem; background-color: white;">-->
<!--            <div class="container d-flex justify-content-center align-items-center">-->
<!--                <div class="rounded-circle bg-secondary" style="width: 100px; height: 100px;">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card Title 1</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Button</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="card mx-3" style="width: 18rem; background-color: white;">-->
<!--            <img src="https://picsum.photos/200" class="card-img-top" alt="Card image">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Card Title 2</h5>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--                <a href="#" class="btn btn-primary">Button</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->