<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Conductor</title>
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- custom style -->
    <!--<link rel="stylesheet" th:href="@{/css/home.css}"/></head>-->
    <link rel="stylesheet" th:href="@{/css/registro-conductor.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script th:inline="javascript" th:src="@{/js/registro-conductor.js}"></script>
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg mx-4">
        <div class="d-flex align-items-center bg-violet"> <!-- Div pegado a la izquierda -->
            <a th:href="home" class="btn mx-2">
                <img th:src="${logo.getImagenBase64()}" class="d-block w-100 bg-violet" alt=",,," style="height: 50px;width: 50px">
            </a>
        </div>

        <div class="collapse navbar-collapse justify-content-end"> <!-- Div pegado a la derecha -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active  p-2">
                    <a th:href="home" class="nav-link p-2 text-white" href="#">Inicio</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link p-2 text-white" href="#">Compañía</a>
                </li>
                <li class="nav-item p-2">
                    <a class="nav-link p-2 text-white" href="#">Ayuda</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="main_registro">

<div class="formulario_fondo">
    <h1 th:if="${isEditForm}" class="titulo_registroConductor">Editar Datos Personales</h1>
    <h1 th:unless="${isEditForm}" class="titulo_registroConductor">Registrarme</h1>

    <form id="conductorForm" th:action="${isEditForm ? 'editar-conductor' : 'registro-conductor'}" method="POST" th:object="${conductor}"> <!--th:method="${isEditForm ? 'PUT' : 'POST'}"-->
      <section class="formulario">
        <div class="columna">
            <div>
                <label for="nombre" class="nombre fuente_formulario_registro">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" th:value="${isEditForm ? conductor.nombre : ''}" required>
            </div>
            <div>
                <label for="apellido" class="apellido fuente_formulario_registro">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}" th:value="${isEditForm ? conductor.apellido : ''}"required>
            </div>
            <div >
                <label for="domicilio" class="domicilio fuente_formulario_registro">Domicilio</label>
                <input type="text" class="form-control" id="domicilio" name="domicilio" th:field="*{domicilio}" th:value="${isEditForm ? conductor.domicilio : ''}" required>
            </div>
            <div>
                <label for="nroTelefono" class="telefono fuente_formulario_registro">Número de Teléfono</label>
                <input type="text" class="form-control" id="nroTelefono" name="nroTelefono" th:field="*{nroTelefono}" th:value="${isEditForm ? conductor.nroTelefono : ''}" required>
            </div>
            <div>
                <label for="numeroDeDni" class="dni fuente_formulario_registro">Número de DNI</label>
                <input type="number" class="form-control" id="numeroDeDni" name="numeroDeDni" th:field="*{numeroDeDni}" th:value="${isEditForm ? conductor.numeroDeDni : ''}" required>
            </div>
        </div>
        <div class="columna">
            <div>
                <label for="nombreUsuario" class="nombreUsuario fuente_formulario_registro">Nombre de Usuario</label>
                <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" th:field="*{nombreUsuario}" th:value="${isEditForm ? conductor.nombreUsuario : ''}" th:readonly="${isEditForm}" required>
            </div>
            <div>
                <label for="email" class="email fuente_formulario_registro">Email</label>
                <input type="email" class="form-control" id="email" name="email" th:field="*{email}" th:value="${isEditForm ? conductor.email : ''}" th:readonly="${isEditForm}" required>
            </div>
            <div>
                <label for="password" class="password fuente_formulario_registro">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" th:field="*{password}" th:value="${isEditForm ? conductor.password : ''}" required>
            </div>
            <div >
                <label for="confirmarPassword" class="confirmarPassword fuente_formulario_registro">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="confirmarPassword" name="confirmarPassword"  th:value="${isEditForm ? conductor.password : ''}" th:readonly="${isEditForm}" required>
            </div>
            <div>
                <label for="cvu" class="cvu fuente_formulario_registro">CVU</label>
                <input type="number" class="form-control" id="cvu" name="cvu" th:field="*{cvu}" th:value="${isEditForm ? conductor.cvu : ''}" required>
            </div>
        </div>

      </section>
        <section class="errores" th:if="${mensajeError != null and !mensajeError.isEmpty()}">
                <p th:text="${mensajeError}">Mensaje de error predeterminado</p>
        </section>
        <section class="botones">
            <a th:if="${isEditForm}" th:href="@{/perfil}"><button id="boton_cancelar_edit" type="button" class="boton_cancelar">Cancelar</button></a>

            <!-- Botón Cancelar para el modo de ingreso -->
            <a th:unless="${isEditForm}" href="home.html"><button id="boton_cancelar_ingresar" type="button" class="boton_cancelar">Cancelar</button></a>

            <!-- Botón Ingresar / Editar -->
            <button th:if="${isEditForm}" type="submit" class="boton_submit">Editar</button>
            <button th:unless="${isEditForm}" type="submit" class="boton_submit">Ingresar</button>
        </section>
    </form>
</div>

</main>
<footer>

</footer>
</body>




</html>
