<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/ca80211b53.js" crossorigin="anonymous" charset="UTF-8"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <link rel="stylesheet" th:href="@{css/viaje.css}"/>
    <title>Viaje</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg mx-4">
        <div class="d-flex align-items-center bg-violet"> <!-- Div pegado a la izquierda -->
            <a th:href="home-conductor" class="mx-2">
                <img th:src="@{/imagenes/logo.png}" class="d-block w-100 bg-violet" alt=",,," style="height: 50px;width: 50px">
            </a>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active  p-2">
                    <a th:href="ubicacion" class="nav-link p-2 text-white">Inicio</a>
                </li>
                <li class="nav-item p-2">
                   <a th:href="compania" class="nav-link p-2 text-white" href="#">Compañía</a>
                </li>
                <li class="nav-item p-2">
                   <a th:href="ayuda" class="nav-link p-2 text-white" href="#">Ayuda</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="viajes-en-proceso" class="nav-link p-2 text-white">Viajes en Proceso</a>
                </li>
                <li class="nav-item p-2">
                    <a th:href="historial" class="nav-link p-2 text-white" href="#">Historial de Viajes</a>
                </li>
            </ul>
            <a th:href="perfil" class="btn mx-2" style="border:none;">
                <div class="container d-flex justify-content-center align-items-center"  th:if="${conductor.getImagenPerfil() != null}" style="border: none">
                    <img alt="img" class="d-block rounded-circle" th:src="'data:image/jpg;charset=utf-8;base64,' + ${conductor.getImageDataBase64()}" style=" width: 40px; height: 40px;"/>
                </div>
                <div th:if="${conductor.getImagenPerfil() == null}">
                    <img th:src="@{/imagenes/user.png}" alt=",,," style="height: 20px;width: 20px">
                </div>
            </a>
            <a th:href="@{cerrar-sesion}">
                <i class="fa-solid fa-arrow-right-from-bracket" style=" border-radius:25px; padding:11px; background-color: white; color: #370a37; transition: color 0.3s;" onmouseover="this.style.color='white';this.style.backgroundColor='transparent';this.style.borderColor='white';this.style.border='1px solid white'" onmouseout="this.style.color='#370a37'; this.style.backgroundColor='white'" ></i>            </a>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <h1 class="text-center h1-home">Viaje en Proceso</h1>
    <section id="map">
        <div></div>
    </section>
    <section>
        <div class="fondo-form">
                <div class="cont-direcciones">
                    <p>Direccion de Salida: <span th:text="${viaje.getDomicilioDeSalida()}"></span></p>
                    <p>Direccion de Llegada: <span th:text="${viaje.getDomicilioDeLlegada()}"></span></p>
                </div>
            <div>
                <div id="datosMap" th:data-latitud-salida="${viaje.latitudDeSalida}" th:data-longitud-salida="${viaje.longitudDeSalida}" th:data-latitud-llegada="${viaje.latitudDeLlegada}" th:data-longitud-llegada="${viaje.longitudDeLlegada}"></div>
            </div>
                <div class="cont-precio">
                    <p>Paquete de: <span th:text="${viaje.getNombreDelCliente()}"></span></p>
                    <p >Precio: $<span th:text="${viaje.getPrecio()}"></span> ARS</p>
                </div>

            <div class="contenedor-botones">
                <div>
                    <a th:href="@{volver}"><button type="button" class="btn-secundario">Volver</button></a>
                </div>
                <div>
                    <a th:href="@{/cancelar-viaje(idViaje=${viaje.getIdViaje()})}"> <button type="button" class="btn-secundario">Cancelar</button></a>
                </div>
                <div>
                    <a th:href="@{/terminar-viaje(idViaje=${viaje.getIdViaje()})}"> <button type="button" class="btn-principal">Terminar</button></a>
                </div>
            </div>
        </div>
    </section>
</main>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}" charset="UTF-8"></script>
<script th:src="@{/js/maps.js}" charset="UTF-8"></script>
<script async th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${clave} + '&loading=async&libraries=places&callback=iniciarMapa&libraries=marker'}" defer charset="UTF-8"></script>
</body>
</html>